QPushButton#btnKoginator{
    background-color: #5382ff;
    max-width: 80px;
    max-height: 30px;
    padding: 4px;
    border-radius: 4px;
}
QPushButton#btnKoginator:hover{
    background-color: #ffffff;
    color: #5382ff;
}
QPushButton#btnKoginator:pressed{
    background-color:#5382ff;
    color: #000000
}
